alembic==1.13.1
autoray @ git+https://github.com/jcmgray/autoray.git@a72c7508357f1175c945a6d0b9d0f588542a81b5
cloudpickle==3.0.0
colorlog==6.8.2
contourpy==1.2.0
cotengra @ git+https://github.com/jcmgray/cotengra.git@7b28382bcf810ab8b4125605088090006ea70f8e
cycler==0.12.1
cytoolz==0.12.3
fonttools==4.48.1
greenlet==3.0.3
igraph==0.11.4
importlib-resources==6.1.1
kahypar==1.3.5
kiwisolver==1.4.5
llvmlite==0.40.1
loky==3.4.1
Mako==1.3.2
MarkupSafe==2.1.5
matplotlib==3.8.2
networkx==3.2.1
numba==0.57.0
numpy==1.24.4
opt-einsum==3.3.0
optuna==3.5.0
packaging==23.2
pillow==10.2.0
pkg_resources==0.0.0
psutil==5.9.8
pyparsing==3.1.1
python-dateutil==2.8.2
PyYAML==6.0.1
qecstruct==0.2.9
quimb @ git+https://github.com/jcmgray/quimb.git@4215ae23675fdad6e7bd01f7834b0b40eb2d99c5
-e git+https://github.com/quicophy/qaoa-quimb.git@7b7128bbb2da226ca511d1fc6095ea75e5e37418#egg=quimb_qaoa
scipy==1.12.0
six==1.16.0
SQLAlchemy==2.0.27
texttable==1.7.0
toolz==0.12.1
tqdm==4.66.2
typing_extensions==4.9.0
zipp==3.17.0
